@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.slick-arrow.slick-next{
    right: -70px;
}

.slick-arrow.slick-prev{
    left: -70px;
}

.testimonialslider .slick-arrow.slick-prev,
.testimonialslider .slick-arrow.slick-next {

  color: rgb(141, 141, 141) !important; 
  background-color: rgb(104, 104, 104);

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.testimonialslider .slick-prev::before,
.testimonialslider .slick-next::before {
  display: none;
}

